# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    image: mysql:8
    ports:
      - 3306:3306
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
    network_mode: host
